.Comp_Attachment .swfupload .item, 
.Comp_Attachment .swfupload .message {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.Comp_Attachment .imgc {
  padding: 4px;
  border-top: 1px dashed #ccc;
}

.Comp_Attachment .imgc .iitem {
  float: left;
  border: 1px solid #bbb;
  margin: 4px;
}

.Comp_Attachment .imgc .iitem:HOVER {
  border-color: #999;
  -webkit-box-shadow: 0px 0px 8px #aaa;
	box-shadow: 0px 0px 8px #aaa;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.Comp_Attachment .imgc .iitem .i_attach {
  padding: 2px;
  width: 128px;
  height: 96px;
}

.Comp_Attachment .iitem.l_add {
  background: url("images/add.png") no-repeat 5px 92%;
}

.Comp_Attachment .iitem.l_delete {
  background: url('images/delete.png') no-repeat 5px 92%;
}

.Comp_Attachment .imgc .iitem a {
  margin: 1px 3px 3px;
}

.Comp_Attachment .imgc .iitem img {
  width: 100%;
  height: 100%;
}
/*-------- fitem ---------*/
.Comp_Attachment .fitem {
  line-height: 19px;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  _zoom: 1;
}

.Comp_Attachment .fitem:hover {
  background-color: #f2f9f2;
}

.Comp_Attachment input, 
.Comp_Attachment label, 
.Comp_Attachment span {
  vertical-align: middle;
  cursor: pointer;
}

.Comp_Attachment .size {
  color: #999;
  font-family: Candara;
  margin-left: 4px;
}

.Comp_Attachment .l_attach {
  padding-left: 14px;
}

.Comp_Attachment .l_attach.l_add {
  background: url("images/add.png") no-repeat 0 55%;
}

.Comp_Attachment .l_attach.l_delete {
  background: url('images/delete.png') no-repeat 0 55%;
}

.Comp_Attachment .b_attach {
  padding: 8px 8px 8px 20px;
  overflow: hidden;
}

.Comp_Attachment .b_attach .rbtn {
  float: right;
}

.attachment_edit .c {
  margin: 6px;
}

.attachment_edit .form_tbl {
  margin-top: -1px;
}

.attachment_edit .b {
  text-align: right;
  margin: 6px 6px 0 0;
}
/*-------- form_tbl ---------*/
.form_tbl .v .Comp_Attachment {
  margin: -3px -4px;
}

.form_tbl .v .Comp_Attachment.readonly {
  margin-top: -5px;
}

.form_tbl .v .Comp_Attachment .fitem {
  border-bottom: 0;
  border-top: 1px dashed #ccc;
}

.form_tbl .v .swfupload .swf_btns {
  margin: 8px 12px;
}

.form_tbl .v .swfupload .queue {
  border-top: 0;
}