.Comp_Attachment {
  position: relative;
}

.Comp_Attachment .swfupload .item, 
.Comp_Attachment .swfupload .message {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.Comp_Attachment img.status {
  width: 9px;
  height: 9px;
}

.Comp_Attachment .imgc {
  padding: 4px;
  border-top: 1px dashed #ccc;
}

.Comp_Attachment .imgc .iitem {
  float: left;
  border: 1px solid #bbb;
  margin: 4px;
}

.Comp_Attachment .imgc .iitem:HOVER {
  border-color: #999;
  -webkit-box-shadow: 0px 0px 8px #aaa;
	box-shadow: 0px 0px 8px #aaa;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.Comp_Attachment .imgc .iitem .i_attach {
  overflow: hidden;
  text-align: center;
  width: 128px;
  height: 96px;
}

.Comp_Attachment .imgc .iitem img.move {
  width: 12px;
  margin: 0 4px;
}

.Comp_Attachment .imgc img.status { 
  vertical-align: middle;
  margin-left: 3px;
}

.Comp_Attachment .imgc .iitem a {
  margin: 1px 3px 3px;
}

.Comp_Attachment .imgc .iitem img.image {
  width: 100%;
}

/*-------- fitem ---------*/
.Comp_Attachment .fitem {
  line-height: 19px;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  _zoom: 1;
}

.Comp_Attachment .fitem:hover {
  background-color: #f2f9f2;
}

.Comp_Attachment .audio-player {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #49d;
  height: 10px;
}

.Comp_Attachment .audio-player .dot {
  position: absolute;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 24px;
  height: 9px;
  background-color: #fff;
  border: 1px solid #38c;
  bottom: -6px;
  left: 0;
  font-size: 5pt;
  text-align: center;
  line-height: 1.3;
  word-break: keep-all;
  word-wrap: normal;
}

.Comp_Attachment .l_attach {
  position: relative;
  display: table;
}

.Comp_Attachment .l_attach>span {
  display: table-cell;
}

.Comp_Attachment .l_attach * {
  vertical-align: middle;
}

.Comp_Attachment .l_attach .ord {
  color: #666;
  width: 24px;
  word-break: keep-all;
  word-wrap: normal;
}

.Comp_Attachment .l_attach .tt {
  word-break: break-all;
  word-wrap: break-word;
}

.Comp_Attachment .l_attach .size {
  display: inline-block;
  margin-left: 4px;
  color: #999;
  font-size: 7.5pt;
  word-break: keep-all;
  word-wrap: normal;  
}

.Comp_Attachment .l_attach img.status {
  padding-right: 4px;
}

.Comp_Attachment .l_attach .play {
  display: inline-block;
  width: 16px;
  margin-left: 8px;
  cursor: pointer;
}

.Comp_Attachment .b_attach {
  padding: 8px;
  overflow: hidden;
}

.Comp_Attachment .b_attach .rbtn {
  float: right;
}

.attachment_edit .c {
  margin: 5px 4px 4px;
}

.attachment_edit .form_tbl {
  margin-top: -1px;
}

.attachment_edit .b {
  background-color: #f6f6f6;
  bottom: 0;
  left: 0;
  padding: 6px 10px 5px;
  position: absolute;
  right: 0;
  text-align: right;
}

/*-------- form_tbl ---------*/
.form_tbl .v .Comp_Attachment {
  margin: -3px -4px;
}

.form_tbl .v .Comp_Attachment .fitem {
  border-bottom: 0;
  border-top: 1px dashed #ccc;
}

.form_tbl .v .swfupload .swf_btns {
  margin: 8px 12px;
}

.form_tbl .v .swfupload .queue {
  border-top: 0;
}

/*-------- AttachmentHistoryTbl ---------*/
.AttachmentHistoryTbl .tablepager .tfilter,
.AttachmentHistoryTbl .tablepager .tbody {
  border-left: 0;
  border-right: 0;
}

.AttachmentHistoryTbl .pager .pager_block_bottom {
  border: 0;
  background-color: #fff;
}

.AttachmentHistoryTbl .pager .pager_head .br {
  display: block;
  text-align: right;
  margin-top: 4px;
}

.AttachmentHistoryTbl .tb {
  padding: 6px 8px 6px 12px;
}

.AttachmentHistoryTbl .tb .checkbox_lbl {
  margin-right: 10px;
}

.AttachmentHistoryTbl .tb2 {
  background-color: #f9f9f9;
  padding: 6px 8px 6px 12px;
  line-height: 2;
}

.AttachmentHistoryTbl .titem .l1 {
  font-weight: bolder;
  padding-left: 4px;
}

.AttachmentHistoryTbl .titem .l2 {
  font-size: 8.5pt;
  color: #666;
  margin-top: 12px;
  line-height: 1.4;
  padding-left: 4px;
}