.CategoryEdit .formeditor {
  border: 0;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.CategoryEdit .c {
  padding: 0;
}

.CategoryEdit .b {
  text-align: right;
  margin: 6px 6px 0 0;
}